@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans&family=Caveat&family=League+Gothic&family=Rubik+Wet+Paint&display=swap');



/* RESET */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

h1 {
  font-size: 4rem;
}
h3 {
  font-size: 2rem;
}
section:first-child {
  width: 100%;
}
section {
  width: 70%;
}
img {
  display: block;
}
a {
  text-decoration: none;
}


.line {
  height: 3px;
  width: 70%;
  background-color: white;
  margin: 100px 0 100px 0;
}

.button {
  margin-top: 10px;
  background-color: #120A21;
  opacity: 0.5;
  border-radius: 20px;
  padding: 5px 10px;
  transition: all .5s;
}
.button:hover {
  opacity: 1;
  padding: 6px 13px;
}
/* setting up the layout */
.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(130vh, auto) 10vh;
    grid-template-areas:
        'main'
        'footer';
}

.header {
  grid-area: header;

}

.main {
  grid-area: main;
  display: grid;
  background-color: #010003;
}

.footer {
  grid-area: footer;
  background-color: #010003;
}

/* nav */
nav {
  font-family: 'Rubik Wet Paint';
  font-size: 1.5rem;
  color: #92FC78;
}


.nav-custom {
  padding: unset;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 100%;
  grid-template-areas:
    'nav-left logo nav-right';
  align-items: start;
}

.nav-left {
  grid-area: nav-left;
  justify-self: end;
}

.nav-right {
  grid-area: nav-right;
}

.navbar-brand {
  grid-area: logo;
  width: 100%;
  height: 100%;
}
.navbar-brand img {
  width: 100%;
  height: 100%;
  height: auto;
}


/* start section */
#start {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(background2.jpg );
  background-size: cover;  
  background-position: center;
}

#img-logo {
  max-width: 35%;
  max-height: 35%;
}



/* intro section */

#intro {
  margin-top: 100px;
}
.rubik {
  font-family: 'Rubik Wet Paint';
  color:#92FC78;
}
.gothic {
  font-family: 'League Gothic';
}


.intro-logo {
  color:#92FC78;
}

.intro-text {
  font-family: 'Alumni Sans';
  margin-top: 50px;
  font-size: 2rem;
}

/* work */

.project {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    'polaroid text';
}

.work-title {
  width: 100%;
  text-align: center;
  margin-bottom: 80px;
}

.polaroid {
  grid-area: polaroid;
  width: 90%;
  padding: 3%;
  background-color: white;
  color: #120A21;
  margin-bottom: 10px;
}

.polaroid img {
  width: 100%;
  height: 70%;
  margin-bottom: 20px;
  object-fit: cover;
}


figcaption {
  font-size: 2.5rem;
  font-family: 'Caveat';
  text-align: center;
}

.work-text, .polaroid {
  min-width: 400px;
}
.work-text h3 {
  font-size: 2.7rem;
  font-family: 'Caveat';
  color: white;
  margin-bottom: 20px;
    animation: spooky-animation 2s infinite;
}

@media (max-width: 1000px) {
.project {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'polaroid' 
    'text';
  }
}
.work-text p {
  font-family: 'Alumni Sans';
  font-weight: 200;
  font-size: 1.8rem;
  color: white;
}

.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-7-10 21:25:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.93);
            transform: scale(0.93);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

.polaroid:hover {
	-webkit-animation: rotate-scale-down 1s linear 0.03 reverse both;
	        animation: rotate-scale-down 1s linear 0.03 reverse both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-7-10 22:1:5
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-scale-down
 * ----------------------------------------
 */
@-webkit-keyframes rotate-scale-down {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(0.5) rotateZ(180deg);
            transform: scale(0.5) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(0.8) rotateZ(360deg);
            transform: scale(0.8) rotateZ(360deg);
  }
}
@keyframes rotate-scale-down {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(0.5) rotateZ(180deg);
            transform: scale(0.5) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(0.8) rotateZ(360deg);
            transform: scale(0.8) rotateZ(360deg);
  }
}

@keyframes spooky-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
  }
}
